<!-- <h3>AHHHHHHH'd an Album:</h3>

<input placeholder="Artist" class="col-sm-8 input-lg" #newArtist />
<input placeholder="Album Name" class="col-sm-8 input-lg" #newAlbumName />
<input placeholder="Price" class="col-sm-8 input-lg" #newPrice />
<input placeholder="Genre" class="col-sm-8 input-lg" #newGenre />

<button (click)="addAlbum(newArtist, newAlbumName, newPrice, newGenre)" class="btn-success btn-lg add-button">
Add
</button> -->
<!-- 
<album-display *ngFor="#currentAlbum of albumList"
  (click)="albumClicked(currentAlbum)"
  [class.selected]="currentAlbum === selectedAlbum"
  [album]="currentAlbum">
</album-display>


<edit-album *ngIf="selectedAlbum" [album]="selectedAlbum">
</edit-album>
<new-album (onSubmitNewAlbum)="createAlbum($event)">
</new-album> -->
