.selected{
  color: red;
  cursor: pointer;
}

h3{
  cursor: pointer;
}

h1{
  color:red;
  letter-spacing: 1px;
}

.main-wrap{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/*.album-info{
  display: flex;
  flex-flow: row wrap;
}*/
